@import "/src/view/common/styles";

.gamebox {
	position: relative;

	height: $game-height;
	width: $game-width;
	background-color: $game-bg-color;

	overflow: hidden;

	& .scrollbox {
		position: absolute;
		left: calc(-1 * $pipe-width);

		height: 100%;
		width: $scrollbox-width;
	}
}
