$game-height: 600px;
$game-width: 500px;
$game-bg-color: blue;

$bird-size: 30px;
$bird-left-pos: 50px;
$bird-color: red;

$pipe-width: 60px;
$pipe-color: green;

$pipe-path-height: 100px;

$scrollbox-width: calc($game-width + 2 * $pipe-width);
