@import "../common/styles";

.gamebox {
	position: relative;

	height: $game-height;
	width: $game-width;
	background-color: $game-bg-color;

	overflow: hidden;

	& .scrollbox {
		position: absolute;
		right: calc(-1 * $pipe-width);

		height: 100%;
		width: $scrollbox-width;
	}

	& .score {
		z-index: 10;
		position: absolute;
		top: 0;
		right: 0;

		min-height: 23px;
		min-width: 80px;

		padding: 5px;
		text-align: left;
		line-height: 20px;
		font-family: $base-font;

		background-color: white;
		border: 2px solid black;
	}
}
