@import "/src/common/styles";

.container {
	display: flex;
	width: 100%;
	justify-content: center;
}

.bird {
	position: absolute;
	background-color: $bird-color;
	height: $bird-size;
	width: $bird-size;
	top: $bird-size;
	border-radius: 50%;
}
